

* {
    color: white;
    background-color: rgb(19, 17, 17);
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: static;
}
#intro-description {
    position: relative;
    margin: 20px 0 0;
    font-size: 2em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}

#intro-description:before
{content: '';
    position: absolute;
    left: 0;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%,rgb(19, 17, 17) 5%,rgb(19, 17, 17) 100%);
    animation: animate 7s linear forwards;
    animation-delay: 2s;
}

#intro-description span
{
    color: #ff022c;
}
  @keyframes animate{
    0% {
        left: 110%;
    }
    100% {
        left: -20%;
    }
}  

#pic1 { float: right;
    height: 350px; ;
    width: 350px;
    clip-path: circle();
}

.desc {
    margin-left: 10em;
    top: 400px;
    left: 10px;
}

 .Hire-me { color: white;
    font-size: xx-large;
    background: green;
    height: 1.5em;
    width: 10rem;
    border-radius: 50px;
}

.salutation {
    color: rgb(29, 156, 29);
    font-size: xx-large;
    font-weight: 700;
}
.about {
    padding-top: 150px;
    padding-left: 380px;
}
#about-me {
    height: 550px;
    width: 700px;
    border: 3px solid white;
    padding: 20px;

}
.cv {
    color: white;
    font-size: xx-large;
    background: green;
    height: 1.5em;
    width: 13rem;
    border-radius: 50px;  
    position: relative;
    top: -80px;
    left: 400px;
}
#intro {
    font-size: x-large;
}
h2 {
    font-size: xx-large;
}

.works{
    text-align: center;
}

#service-desc {
    height: 330px;
    width: 400px;
    border: 3px solid white;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

#math-description {
    height: 330px;
    width: 400px;
    border: 3px solid white;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

#service-description {
    height: 330px;
    width: 400px;
    border: 3px solid white;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.service-list {
    list-style-type: none;
}

div>h3 {
    font-size: x-large;
}
#medics,#food-website,#gallery {
height: 400px;
width: 300px;
border: 3px white;
padding-left: 20px;
}

#portfolio {
    display: flex;
    justify-content: space-between;
}

.portfolio- {
    clip-path: circle();
}

.services {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

#projects{
    height: 7rem;
    width: 15rem;
    padding-left: 30px;
    padding-bottom: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

#clients {
    height: 7rem;
    width: 15rem;
    padding-left: 70px;
    padding-bottom: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

#team-members {
    height: 7rem;
    width: 15rem;
    padding-left: 70px;
    padding-bottom: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

#awards {
    height: 7rem;
    width: 15rem;
    padding-left: 70px;
    padding-bottom: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

#projects>p, #clients>p, #team-members>p, #awards>p {
    font-size: 25px;
}

p>span {
    color: rgb(137, 212, 137);
    text-align: center;
    font-size: 50px;
}

#services1 {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: rgb(125, 218, 125);
}
