* {
    color: white;
    background-color: rgb(19, 17, 17);
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: static;
}

#pic1 { float: right;
    height: 350px; ;
    width: 350px;
    clip-path: circle();
}

.desc {
    margin-left: 10em;
    top: 400px;
    left: 10px;
}

.Hire-me
 { color: white;
    font-size: xx-large;
    background: green;
    height: 1.5em;
    width: 10rem;
    border-radius: 50px;
}

.salutation {
    color: rgb(29, 156, 29);
    font-size: xx-large;
    font-weight: 700;
}
#intro {
    font-size: x-large;
}
h2 {
    font-size: xx-large;
}

.works{
    text-align: center;
}

#service-desc {
    height: 330px;
    width: 400px;
    border: 3px solid white;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

#math-description {
    height: 330px;
    width: 400px;
    border: 3px solid white;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

#service-description {
    height: 330px;
    width: 400px;
    border: 3px solid white;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.service-list {
    list-style-type: none;
}

div>h3 {
    font-size: x-large;
}

.services {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

#projects{
    height: 5rem;
    width: 10rem;
    border: 2px solid white;
}

#clients {
    height: 5rem;
    width: 10rem;  
    border: 2px solid white;
}

#team-members {
    height: 5rem;
    width: 10rem;
    border: 2px solid white;
}

#awards {
    height: 5rem;
    width: 10rem;
    border: 2px solid white;
}
/* * {
    background-image: url(https://images.unsplash.com/photo-1577375729078-820d5283031c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
} 




 

div 
{
    height: 350px;
    width: 600px;
    border: chartreuse;
}
li{
    color: white;
}
h3{
    color: white;
}
h2
{
    position: relative;
    margin: 20px 0 0;
    font-size: 2em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}
#containers{
    
    
}
.service-desc {
    height: 400px;
    width: 500px;
    border: 3em blue;
}
h2 span
{
    color: #ff022c;
}
/* h2:before
{content: '';
    position: absolute;
    left: 0;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%,#000 5%,#000 100%);
    animation: animate 5.5s linear forwards;
    animation-delay: 2s;
}
@keyframes animate{
    0% {
        left: 110%;
    }
    100% {
        left: -20%;
    }
}
 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
} 
 */
